{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Импорт данных</h1>
    <p>Для импорта данных в систему воспользуйтесь формой ниже. Каждый тип данных имеет свой набор необходимых полей.</p>
    <p>Для облегчения процесса импорта данных:</p>
    <ol>
        <li>Cкачайте
            <a href="{% static 'Достижения, пример таблиц.ods' %}">
                <svg class="i-file" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M6 2 L6 30 26 30 26 10 18 2 Z M18 2 L18 10 26 10"></path>
                </svg>
                шаблон таблиц
            </a>
        </li>
        <li>Заполните необходимые таблицы</li>
        <li>Убедитесь, что таблица заполнена правильно:</li>
        <ol>
            <li>В полях нет лишних пробелов</li>
            <li>Нет избыточной информации в полях таблицы</li>
            <li>Отсутствуют лишние символы, знаки пунктуации</li>
            <li>Запрещено изменять название листов в документе и столбцов в таблице</li>
        </ol>
        <li>Сохрание ваш файл. Прикрепите его к форме импорта (ниже). Можно прикрепить несколько файлов.</li>
        <li>Нажмите кнопку "Начать импорт"</li>
    </ol>

    <form enctype="multipart/form-data" method="post" action="/import" class="data_import">
        {% csrf_token %}

        <div class="mb-3">
            <label for="data_files" class="form-label">Файл с данными:</label>
            <input class="form-control" type="file" name="data_files" id="data_files" multiple oninput="$('#begin_import').removeClass('disabled')">
        </div>
        <div class="mb-3">
              <input class="form-check-input" type="checkbox" value="1" id="use_old_format" name="use_old_format">
              <label class="form-check-label" for="use_old_format">
                  Использовать старый формат
              </label>
        </div>
        <div class="mb-3 justify-content-end row">
            <div class="col-auto m-3">
                <button type="submit" class="btn btn-primary mb-3 disabled" id="begin_import">Начать импорт</button>
            </div>
        </div>
    </form>
{% endblock %}