{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1>Список учащихся</h1>

<div class="card p-2 m-2 bg-light">
    <div class=" row">
        <div class="col-6">
            <label class="form-label">Площадка</label>
            <select class="form-select" id="filter_dep" placeholder="Фильтр по площадкам" oninput="filter_changed()">
                <option value="">Фильтр по площадке</option>
                {% for dep in departments %}
                    <option value="{{dep.id}}">{{dep.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-6">
            <label class="form-label">ФИО</label>
            <input class="form-control" placeholder="Фильтр по ФИО" id="fio_filter" oninput="filter_changed()"/>
        </div>
    </div>
</div>


<table class="table student_list">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">ФИО</th>
            <th scope="col">Площадка</th>
            <th scope="col">Предметы</th>
            <th scope="col">Семинары</th>
            <th scope="col">Олимпиады</th>
            <th scope="col">Научные работы</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr
                onclick="document.location = '/students/{{student.id}}';"
                class="item"
                x-dep-id="{{student.department.id}}"
        >
            <th scope="row">{{student.id}}</th>
            <td class="fio"><a href="/students/{{student.id}}"> {{student.full_name}}</a></td>
            <td>{{student.department}}</td>
            <td>{{student.courses}}</td>
            <td>{{student.seminars}}</td>
            <td>{{student.olympiads}}</td>
            <td>{{student.projects}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script src="{% static 'js/students.js' %}"></script>


{% endblock %}