{% extends 'base.html' %}
{% load static %}



{% block content %}
<h1>Печать зачетных книжек</h1>
<div class="alert alert-warning" role="alert">
    <strong>Предупреждение:</strong> Процесс генерации файла для множества человек может занимать довольно длительное время. Дождитесь завершения процесса.
</div>
<!--<h2>Сформировать зачетные книжки для выпускников по году</h2>-->
<div class="col-sm-5">
    {% for dep, years in dep_years.items %}
        <div>
            <h3 class="mt-3">{{dep.name}}</h3>
            {% for y in years %}
                <div class="card ms-4 my-2 bg-light">
                    <div class="p-3">
                        <h6 class="mb-3">{{y}} год выпуска</h6>
                        <a
                                href="/print/dep/{{dep.id}}/year/{{y}}/pdf"
                                class="btn btn-outline-primary text-start"
                                role="button">
                            <i class="bi bi-file-earmark-pdf fs-4"></i>PDF
                        </a>
                        <a
                                href="/print/dep/{{dep.id}}/year/{{y}}/odt"
                                class="btn btn-outline-primary text-start "
                                role="button">
                            <i class="bi bi-file-earmark-text fs-4"></i>ODT
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}